<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>


        {% block styles %}
        {% endblock %}

        <title>{% block title %}Generate Video{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>